body {
    background-color: black;
  }
  
  h1 {
    color: white;
    text-align: center;
    font-family: Garamond, Georgia, serif;
    font-size: 100px;
    font-weight: 100;
    margin-top: 280px;
    letter-spacing: 5px;

  }
  
  header {
    color: white;
    text-align: center;
    font-family: Garamond, Georgia, fantasy; 
    font-size: 100px;
    font-weight: 100;
    margin: 50px;
    

  }
  p {
    font-family: verdana;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
  }

  .image-container {
      text-align: center;
      margin-top: 200px;
      
  }